<% block('title', title ) -%>
<% layout('../views/layout') -%>
<p>Welcome to <a href="https://github.com/Kneaver/Open-xAPI-Reports"><%= title %> Click to learn more</a></p>
Contacts: About to be completed
